p.hours-log {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
}

.hours-log-wrapper {
    margin-top: 30px;
}

.hours-log-wrapper p.details {
    font-size: 22px;
    margin-top: -20px;
}

