.green {
    background-color: rgb(84, 255, 62);
    height: 60px;
}
.blue {
    background-color: rgb(144, 235, 234);;
    height: 60px;
}
.yellow {
    background-color: rgb(255, 242, 62);
    height: 60px;
}
.red {
    background-color: red;
    height: 60px;
}

.blue, .yellow, .red, .green {
    text-align: center;
}

#progress-bar p {
    padding-top: 15px;
  }

#progress-bar {
    margin: 0px;
    width: 100%;
}

.special-margin {
    height: 60px;
}

